// ==============================
// Custom style
// 自定义样式
// ==============================

#header-desktop .header-title-post wbr {
  display: none;
}
#header-mobile .header-title a {
  display: flex;
  align-items: center;

  & .header-title-post {
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 0.1rem;
  }
}

#header-mobile .header-container .header-wrapper .header-title {
  font-weight: 600;
  font-size: 1.1rem;
  max-width: 100%;
}

#header-mobile .header-container .header-wrapper {
  padding: 0 0.5rem;
}
.header-title-pre img {
  vertical-align: middle;
}

.home[data-home=posts] .summary .content {
  color: $global-font-color;
  [theme=dark] & {
    color: $global-font-color-dark;
  }
}
