// ==============================
// Custom style
// 自定义样式
// ==============================

#header-mobile .header-title a {
  display: flex;
  align-items: center;
}
#header-mobile .header-title-post {
  display: flex;
  flex-wrap: wrap;
  white-space: pre;
  min-width: 3em;

  & span {
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
}

#header-mobile .header-container .header-wrapper {
  padding: 0 0.5rem;

  & .header-title {
    max-width: 100%;
  }
}
.header-title-pre img {
  vertical-align: middle;
}

.home[data-home=posts] .summary .content {
  color: $global-font-color;
  [theme=dark] & {
    color: $global-font-color-dark;
  }
}
