// ==============================
// Custom style
// 自定义样式
// ==============================

#header-mobile .header-container .header-wrapper .header-title {
  font-weight: 500;
  font-size: 1.1rem;
  max-width: 100%;
}
